<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sunglasses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/sunglasses.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Vision</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
              <a class="nav-link" href="sunglasses.html">Sunglasses</a>
              <a class="nav-link" href="eyeglasses.html">Eyeglasses</a>
              <a class="nav-link" href="cls.html">Contact Lenses</a>
              <a class="nav-link" href="#">My Cart</a>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="container">
        <div id="heading-block">
          <h2>Sunglasses</h2>
        </div>
    <a href="#">
      <div class="catbox">
        <img src="static/images/sunglases/s1.png" width="300" height="200">
          <span>
              Rs.500 <br>
            Add To Cart
          </span>
      </div>
    </a>

        <a href="#">
            <div class="catbox">
              <img src="static/images/sunglases/s2.png" width="300" height="200">
                <span>
                    Rs.500 <br>
                  Add To Cart
                </span>
            </div>
          </a>

          <a href="#">
              <div class="catbox">
                <img src="static/images/sunglases/s3.png" width="300" height="200">
                  <span>
                      Rs.500 <br>
                    Add To Cart
                  </span>
              </div>
            </a>

            <a href="#">
                <div class="catbox">
                  <img src="static/images/sunglases/s4.png" width="300" height="200">
                    <span>
                        Rs.500 <br>
                      Add To Cart
                    </span>
                </div>
              </a>
            

              <a href="#">
                  <div class="catbox">
                    <img src="static/images/sunglases/s5.png" width="300" height="200">
                      <span>
                          Rs.500 <br>
                        Add To Cart
                      </span>
                  </div>
                </a>

                <a href="#">
                    <div class="catbox">
                      <img src="static/images/sunglases/s6.png" width="300" height="200">
                        <span>
                            Rs.500 <br>
                          Add To Cart
                        </span>
                    </div>
                  </a>

                  <a href="#">
                      <div class="catbox">
                        <img src="static/images/sunglases/s7.png" width="300" height="200">
                          <span>
                              Rs.500 <br>
                            Add To Cart
                          </span>
                      </div>
                    </a>

                    <a href="#">
                        <div class="catbox">
                          <img src="static/images/sunglases/s8.png" width="300" height="200">
                            <span>
                                Rs.500 <br>
                              Add To Cart
                            </span>
                        </div>
                      </a>

                      <a href="#">
                          <div class="catbox">
                            <img src="static/images/sunglases/s9.png" width="300" height="200">
                              <span>
                                Rs.500 <br>
                                Add To Cart
                              </span>
                          </div>
                        </a>

                        <a href="#">
                            <div class="catbox">
                              <img src="static/images/sunglases/s10.png" width="300" height="200">
                                <span>
                                    Rs.500 <br>
                                  Add To Cart
                                </span>
                            </div>
                          </a>


       
</body>
</html>